body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

#clock {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  color: #ff0000;
}
